/* cards-prodi */
.container {
  max-width: 600px;
  background-color: var(--surface-2);
  box-shadow: var(--elevation-2);
  padding: 1rem;
  display: grid;
  grid-gap: 1rem;
  justify-items: center;
}

.container h2 {
  font-weight: 800;
  color: var(--color-primary);
}

.container[theme="S1 Sistem Informasi"] {
  background-color: var(--color-secondary);
}

.container[theme="S1 Teknik Informatika"] {
  background-color: var(--color-accent);
}

.item-content .styled-link {
  background-color: black;
}