/* Default Style */
:root {
  --primary-color: hsl(212, 52%, 25%);
  --secondary-color: hsl(158, 46%, 51%);
  --accent-color: hsl(302, 30%, 52%);
  --on-primary: hsl(0, 0%, 100%);
  --background-color: hsl(0, 0%, 100%);
}

html {
  font-family: 'Nunito Sans', sans-serif;
}

a {
  width: 100%;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
}

h3 {
  font-weight: 700;
  font-size: 1.5rem;
}

h4 {
  font-weight: 700;
}

main {
  padding: 2rem 5rem;
}

.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.hidden {
  display: none !important;
}