/* Default Style */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

/* Navigation */
.nav {
  display: flex;
  gap: 10px;
}

.nav .active {
  color: red;
}