.hamburger-react {
  z-index: 1000;
  display: none;
}

@media (max-width: 60rem) {
  .hamburger-react[aria-expanded='false'] {
    color: var(--color-primary);
  }

  .hamburger-react {
    display: block;
    color: var(--surface-2);
  }

}