.container {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  padding: 0 2rem;
  background-color: var(--surface-2);
  box-shadow: var(--elevation-1);
  min-height: 50px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-items: end;
}

/* Implement Later */
.transparent {
  background-color: black;
}

.navlinks {
  display: flex;
  gap: 1em;
  backdrop-filter: blur(0.2rem);
}

.navlink {
  display: flex;
  justify-content: flex-end;
  color: var(--color-primary);
  padding: 12px;
  border-radius: 3rem;
}

.navlink:hover {
  background-color: var(--surface-5);
}

.navlink.active {
  color: var(--surface-2);
  background-color: var(--color-primary);
}

/* Navigation Mobile */
@media (max-width: 60rem) {
  .navlinks {
    flex-direction: column;
    position: fixed;
    inset: 0 0 0 60%;
    padding: 4rem 2rem;
    text-align: end;
    background-color: hsl(0deg 0% 0% / 65%);
    transform: translateX(100%);
    transition: transform 350ms ease-in-out;
  }

  .navlinks[visibility="true"] {
    transform: translateX(0%);
  }

  .navlink {
    color: var(--surface-2);
  }
}