/* Navigation */
.navbar {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.navbar-logo {
  display: block;
  position: relative;
  object-fit: contain;
  width: 170px;
  height: 30px;
  background-color: var(--background-color);
}

.hamburger-react {
  z-index: 1000;
  display: none;
}

.navbar-navlinks {
  display: flex;
  gap: 1em;
  backdrop-filter: blur(1rem);
}

.navbar-navlinks>li>a {
  display: flex;
  justify-content: flex-end;
  color: var(--on-primary);
  padding: 12px;
}

.navbar-navlinks .active {
  color: var(--secondary-color);
}

/* Navigation Mobile */
@media (max-width: 60rem) {
  .navbar-navlinks {
    flex-direction: column;
    position: fixed;
    inset: 0 0 0 40%;
    padding: 4rem 2rem;
    text-align: end;
    background-color: hsl(0deg 0% 0% / 77%);
    transform: translateX(100%);
    transition: transform 350ms ease-in-out;
  }

  .navbar-navlinks[visibility="true"] {
    transform: translateX(0%);
  }

  .hamburger-react[aria-expanded='false'] {
    color: var(--on-primary);
  }

  .hamburger-react {
    display: block;
    color: var(--secondary-color);
  }

}