.styled-header {
    display: flex;
    align-items: center;
    gap: 1rem
}

.styled-header>h2 {
    white-space: nowrap;
}

.styled-header>hr {
    display: flex;
    width: 100%;
    height: 0.2rem;
    background: var(--secondary-color);
}